<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Airways calculation</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />

    </head>
    <body>
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <span class="navbar-brand" >Airways</span>
            <a href="#" class="btn btn-outline-success mr-sm-2" th:href="@{/calculate}">Calculate</a>
        </nav>
        <form class="form-inline navbar navbar-expand" action="#" th:action="@{/}" th:object="${flight}" method="POST">
            <button class="btn btn-outline-primary btn-sm form-control-sm mr-sm-2" type="submit">Add or update flight</button>
            <input class="form-control form-control-sm mr-sm-2" type="number" placeholder="Number" aria-label="Number" name="number"/>
            <input class="form-control form-control-sm mr-sm-2" type="number" placeholder="From" aria-label="From" name="from"/>
            <div class="input-group">
                <input class="form-control form-control-sm mr-sm-2" 
                       th:classappend="${validationErrors.containsKey('to') ? 'is-invalid' : ''}" 
                       type="number" placeholder="To" aria-label="To" name="to"/>
                <div class="invalid-feedback" th:text="${validationErrors.get('to')}"/>
            </div>
            <input class="form-control form-control-sm mr-sm-2" type="number" placeholder="Cost" aria-label="Cost" name="cost"/>
            <input class="form-control form-control-sm mr-sm-2" type="number" placeholder="Departure Time" aria-label="Departure Time" name="departureTime"/>
            <div class="input-group">
                <input class="form-control form-control-sm mr-sm-2" 
                       th:classappend="${validationErrors.containsKey('arrivalTime') ? 'is-invalid' : ''}"
                       type="number" placeholder="Arrival Time" aria-label="Arrival Time"  name="arrivalTime"/>
                <div class="invalid-feedback" th:text="${validationErrors.get('arrivalTime')}"/>
            </div>
            <select class="form-control form-control-sm mr-sm-2 custom-select-sm"  name="mandatory">
                <option value="true">mandatory</option>
                <option value="false">optional</option>
            </select>
        </form>          
        <form class="form-inline navbar navbar-expand" method="POST" enctype="multipart/form-data" th:action="@{/uploadCsv}">
            <button class="btn btn-outline-primary btn-sm form-control-sm my-sm-0 mr-sm-2" type="submit">Upload CSV file</button>                
            <span class="form-control form-control-sm mr-sm-2 custom-file">
                <input name="file" type="file" class="custom-file-input form-control form-control-sm mr-sm-2" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </span>
        </form>

        <main class="container-fluid">

            <div class="container" th:if="${!importErrors.isEmpty()}">
                <h5>Mistakes in imported CSV-file:</h5>
                <table class="table table-striped table-bordered table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Import CSV file mistakes:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-danger" th:each="error : ${importErrors}">
                            <td th:text="${error}">item1</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="container" th:if="${!source.isEmpty()}">
                <h5>Source:</h5>
                <table class="table table-striped table-bordered table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Number</th>
                            <th scope="col">From</th>
                            <th scope="col">To</th>
                            <th scope="col">Cost</th>
                            <th scope="col">Departure time</th>
                            <th scope="col">Arrival time</th>
                            <th scope="col">Mandatory</th>
                            <th scope="col"></th>
                        </tr>                    
                    </thead>
                    <tbody>
                        <tr th:each="flight : ${source}">
                            <td th:text="${flight.number}" />
                            <td th:text="${flight.from}" />
                            <td th:text="${flight.to}" />
                            <td th:text="${flight.cost}" />
                            <td th:text="${flight.departureTime}" />
                            <td th:text="${flight.arrivalTime}" />
                            <td th:text="${flight.mandatory}" />
                            <td>
                                 <a href="#" class="btn btn-outline-danger btn-sm mr-sm-2" 
                                    th:href="@{/remove(number=${flight.number})}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>            
            </div>

            <div class="container" th:if="${!cycles.isEmpty()}">
                <h5>Detected cycles:</h5>
                <table class="table table-striped table-bordered table-sm" th:each="cycle : ${cycles}">
                    <thead>
                        <tr>
                            <th colspan="7">Source:</th>
                        </tr>                    
                        <tr>
                            <th scope="col">Number</th>
                            <th scope="col">From</th>
                            <th scope="col">To</th>
                            <th scope="col">Cost</th>
                            <th scope="col">Departure time</th>
                            <th scope="col">Arrival time</th>
                            <th scope="col">Mandatory</th>
                        </tr>                    
                    </thead>
                    <tbody>
                        <tr th:each="flight : ${cycle}">
                            <td th:text="${flight.number}" />
                            <td th:text="${flight.from}" />
                            <td th:text="${flight.to}" />
                            <td th:text="${flight.cost}" />
                            <td th:text="${flight.departureTime}" />
                            <td th:text="${flight.arrivalTime}" />
                            <td th:text="${flight.mandatory}" />
                        </tr>
                    </tbody>
                </table>            
            </div>            

            <div class="container" th:if="${!mandatoryFlightsWithoutCycles.isEmpty()}">
                <h5>Mandatory flights without cycles:</h5>
                <table class="table table-striped table-bordered table-sm">
                    <thead>
                        <tr>
                            <th colspan="7">Source:</th>
                        </tr>                    
                        <tr>
                            <th scope="col">Number</th>
                            <th scope="col">From</th>
                            <th scope="col">To</th>
                            <th scope="col">Cost</th>
                            <th scope="col">Departure time</th>
                            <th scope="col">Arrival time</th>
                            <th scope="col">Mandatory</th>
                        </tr>                    
                    </thead>
                    <tbody>
                        <tr class="table-warning" th:each="flight : ${mandatoryFlightsWithoutCycles}">
                            <td th:text="${flight.number}" />
                            <td th:text="${flight.from}" />
                            <td th:text="${flight.to}" />
                            <td th:text="${flight.cost}" />
                            <td th:text="${flight.departureTime}" />
                            <td th:text="${flight.arrivalTime}" />
                            <td th:text="${flight.mandatory}" />
                        </tr>
                    </tbody>
                </table>            
            </div>            

        </main>


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>
    </body>
</html>